<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/SwadhinKumarJena/IdeaProjects/DataDriven_Framework"><classes><class name="org.automation.testcases.TC001_ValidateLogin"><methods><include name="validateLogin"/></methods></class><class name="org.automation.testcases.TC002_AddEmployee"><methods><include name="tc002_AddEmployee"/></methods></class></classes></test></suite>